body {
  margin: 65px auto 0;
  font-family: 'Open Sans', sans-serif;
  background: rgb(0,36,27);
  background: linear-gradient(90deg, rgba(0,36,27,0.31985294117647056) 0%, rgba(9,121,108,0) 35%, rgba(0,212,255,0.2050070028011205) 100%);
 
}
.page {
  width: 1000px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between; /* para deixar um em cada extremidades */
  align-items: center; /*serviu para alinhar a logo e o menu */
  margin-bottom: 55px;
}


ul  {
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
}

ul li a {
  color: #1F1534;
  text-decoration: none;
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}


h1, ul {
  font-family: 'Mulish', sans-serif;
}

main div {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

h1 {
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  color: #1F1534;
  
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

p { 
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
  margin: 40px 0;
}

button:hover {
  background: #44a583;
}
button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #69B99D;
  border: none;
  border-radius: 4px;
  padding: 14px 32px 15px;
  gap: 10px;
  cursor: pointer; /*habilitar a mãozinha quando passa o mouse em cima*/
  

}

footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}

footer a {
  font-weight: bold;
  color: #1F1534;
  text-decoration: none;

}

#balls {
  position: fixed;
  bottom: 0;
  height: 0;

}